/* :root {
} */

body {
  /* Disable scroll bar */
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* Disable horizontal scroll */
  overflow-x: hidden;
  font-family: "EB Garamond";
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  /* Disable scroll bar */
  /* WebKit */
  width: 0;
  height: 0;
}

@font-face {
  font-family: NewYork;
  src: url(/src/assets/fonts/Butler_Regular.otf);
}

.hidden {
  transition: opacity 0.5s ease-in;
}
